.react-datepicker__input-container{
    height:100% !important
}

.react-datepicker-wrapper{
 height:100% !important
}
.react-datepicker-wrapper input{
height: 100% !important;
border-radius: 3px;
border: 1px solid #ddd;
}
.react-datepicker-wrapper .wrapper { position: relative; height: 100%;}
i.fa-calendar { position: absolute; top: 10px; right: 5px;color:#bbb9b9 }

.dateInput {
  padding-left: 20px;
}